<template>
  <v-tabs
    align-with-title
    background-color="transparent"
  >
    <v-tabs-slider color="orange accent-1" />
    <v-tab
      v-for="({label, name}) in tabs"
      :key="name"
      :to="{ name, params }"
    >
      {{ label }}
    </v-tab>
  </v-tabs>
</template>

<script>
export default {
  data () {
    return {
      tabs: [
        {
          label: 'Opérations',
          name: 'operations',
        },
        {
          label: "Vue d'ensemble",
          name: 'overview',
        },
        {
          label: 'Evolution',
          name: 'evolutions',
        },
      ],
    }
  },
  computed: {
    params () {
      return this.$route.params
    },
  },
}
</script>
