<template>
  <v-container fluid>
    <v-row>
      <OperationContainer v-slot:default="{operationsByMonths}">
        <v-col
          md="6"
          sm="12"
        >
          <v-card>
            <v-card-title>&Eacute;volution recettes/dépenses</v-card-title>
            <v-divider />
            <Evolution
              :operations="operationsByMonths"
              :height="200"
            />
          </v-card>
        </v-col>
      </OperationContainer>
      <OperationContainer v-slot:default="{operations, operationsByMonths, months, categories}">
        <v-col
          md="6"
          sm="12"
        >
          <v-card>
            <v-card-title>&Eacute;volution par catégories</v-card-title>
            <v-divider />
            <v-card-text>
              <v-select
                v-model="selectedCategory"
                :items="categories"
                label="Catégorie"
                outlined
                clearable
              />
            </v-card-text>
            <Evolution
              :key="selectedCategory"
              :operations="filteredByCategory(operationsByMonths)"
              :height="200"
              absolute
            />
          </v-card>
        </v-col>
      </OperationContainer>
    </v-row>
  </v-container>
</template>

<script>
import Evolution from "@/components/budget/evolutions/Evolution";
import OperationContainer from "@/components/OperationContainer";

export default {
  components: {
    Evolution,
    OperationContainer,
  },
  data() {
    return {
      selectedCategory: undefined,
    };
  },
  computed: {
    filteredByCategory() {
      return map =>
        Object.entries(map).reduce(
          (result, [month, operations]) => ({
            ...result,
            [month]: this.filterOperationsByCategory(operations),
          }),
          {}
        );
    },
  },
  methods: {
    filterOperationsByCategory(operations = []) {
      return operations.filter(
        operation =>
          this.selectedCategory === undefined ||
          this.selectedCategory === operation.category
      );
    },
  },
};
</script>
