<template>
  <div style="min-width:200px">
    <v-chip
      v-if="!edit"
      :input-value="hovered"
      color="secondary"
      filter
      filter-icon="mdi-pencil-outline"
      @mouseenter="enter"
      @mouseleave="leave"
      @click="startEdit"
    >
      {{ value }}
    </v-chip>

    <v-autocomplete
      v-else
      :value="value"
      :items="values"
      :search-input.sync="newValue"
      :autofocus="true"
      :auto-select-first="true"
      :menu-props="{ openOnHover: true }"
      @input="selected"
      @keyup.enter="selected(newValue)"
    >
      <template v-slot:selection />
      <template v-slot:no-data>
        <v-btn
          block
          text
          color="primary"
          @click="selected(newValue)"
        >
          <v-icon left>
            mdi-plus
          </v-icon>Ajouter
        </v-btn>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
    values: {
      type: Array,
      required: true,
    },
  },
  data () {
    return {
      edit: false,
      hovered: false,
      newValue: undefined,
    }
  },
  methods: {
    enter () {
      this.hovered = true
    },
    leave () {
      this.hovered = false
    },
    startEdit () {
      this.edit = true
    },
    abortEdit () {
      this.reset()
    },
    reset () {
      this.edit = false
      // this.newValue = undefined
      this.hovered = false
    },
    selected (value) {
      if (value && value !== '') {
        this.$emit('changed', value)
      }
      this.reset()
    },
  },
}
</script>
