<template>
  <v-container fluid>
    <v-row>
      <OperationContainer v-slot:default="{months}">
        <v-col
          md="12"
          sm="12"
        >
          <v-select
            :value="selectedMonth"
            :items="months"
            label="Date"
            clearable
            solo
            @input="onMonthSelected"
            @click:clear="onMonthSelected(null)"
          />
        </v-col>
      </OperationContainer>
      <OperationContainer v-slot:default="{operations, categories}">
        <v-col
          md="12"
          sm="12"
        >
          <v-card>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Description
                    </th>
                    <th class="text-left">
                      Montant
                    </th>
                    <th class="text-left">
                      Date
                    </th>
                    <th class="text-left">
                      Catégorie
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <OperationLine
                    v-for="operation in filterByMonth(operations)"
                    :key="operation.id"
                    :operation="operation"
                    :categories="categories"
                  />
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </v-col>
      </OperationContainer>
    </v-row>
  </v-container>
</template>

<script>
import OperationContainer from '@/components/OperationContainer'
import OperationLine from '@/components/budget/operations/OperationLine'

export default {
  components: {
    OperationContainer,
    OperationLine,
  },
  props: {
    year: {
      type: String,
      required: false,
      default: () => undefined,
    },
    month: {
      type: String,
      required: false,
      default: () => undefined,
    },
  },
  computed: {
    selectedMonth () {
      return this.year && this.month ? `${this.year}-${this.month}` : undefined
    },
    filterByMonth () {
      return operations =>
        operations.filter(
          ({ date }) =>
            this.selectedMonth === undefined ||
            this.selectedMonth === date.substring(0, 7)
        )
    },
  },
  methods: {
    onMonthSelected (selectedMonth) {
      let params = {}
      if (selectedMonth) {
        const [year, month] = selectedMonth.split('-')
        params = {
          ...params,
          year,
          month,
        }
      }
      this.$router.push({ name: this.$route.name, params })
    },
  },
}
</script>
