<template>
  <OperationLineContainer
    v-slot:default="{name, amount, date, category, updateCategory}"
    :operation="operation"
  >
    <tr data-test-operation>
      <td>{{ name }}</td>
      <td>{{ amount }}</td>
      <td>{{ date }}</td>
      <td>
        <EditableChip
          :value="category"
          :values="categories"
          @changed="updateCategory"
        />
      </td>
    </tr>
  </OperationLineContainer>
</template>

<script>
import OperationLineContainer from '@/components/budget/operations/OperationLineContainer'
import EditableChip from '@/components/budget/operations/EditableChip'
export default {
  components: {
    OperationLineContainer,
    EditableChip,
  },
  props: {
    operation: {
      type: Object,
      required: true,
    },
    categories: {
      type: Array,
      required: true,
    },
  },
  data () {
    return {
      newCategory: this.operation.category,
      hovered: false,
      edit: true,
    }
  },
  method: {},
}
</script>
