<template>
  <v-container fluid>
    <v-row>
      <OperationContainer v-slot:default="{months}">
        <v-col
          md="12"
          sm="12"
        >
          <v-select
            :value="selectedMonth"
            :items="months"
            label="Date"
            clearable
            solo
            @input="onMonthSelected"
            @click:clear="onMonthSelected(null)"
          />
        </v-col>
      </OperationContainer>
      <OperationContainer v-slot:default="{depenses, recettes}">
        <v-col
          md="4"
          sm="12"
        >
          <v-card>
            <v-card-title>&Eacute;quilibre des comptes</v-card-title>
            <v-divider />
            <Balance
              :key="selectedMonth"
              :depenses="filterByMonth(depenses)"
              :recettes="filterByMonth(recettes)"
            />
          </v-card>
        </v-col>
      </OperationContainer>
      <OperationContainer v-slot:default="{depenses}">
        <v-col
          md="4"
          sm="12"
        >
          <v-card>
            <v-card-title>Dépenses</v-card-title>
            <v-divider />
            <Details
              :key="selectedMonth"
              :operations="filterByMonth(depenses)"
            />
          </v-card>
        </v-col>
      </OperationContainer>
      <OperationContainer v-slot:default="{recettes}">
        <v-col
          md="4"
          sm="12"
        >
          <v-card>
            <v-card-title>Recettes</v-card-title>
            <v-divider />
            <Details
              :key="selectedMonth"
              :operations="filterByMonth(recettes)"
            />
          </v-card>
        </v-col>
      </OperationContainer>
    </v-row>
  </v-container>
</template>

<script>
import Balance from '@/components/budget/overview/Balance'
import Details from '@/components/budget/overview/Details'
import OperationContainer from '@/components/OperationContainer'

export default {
  components: {
    Balance,
    Details,
    OperationContainer,
  },
  props: {
    year: {
      type: String,
      required: false,
      default: () => undefined,
    },
    month: {
      type: String,
      required: false,
      default: () => undefined,
    },
  },
  computed: {
    selectedMonth () {
      return this.year && this.month ? `${this.year}-${this.month}` : undefined
    },
    filterByMonth () {
      return operations =>
        operations.filter(
          ({ date }) =>
            this.selectedMonth === undefined ||
            this.selectedMonth === date.substring(0, 7)
        )
    },
  },
  methods: {
    onMonthSelected (selectedMonth) {
      let params = {}
      if (selectedMonth) {
        const [year, month] = selectedMonth.split('-')
        params = {
          ...params,
          year,
          month,
        }
      }
      this.$router.push({ name: this.$route.name, params })
    },
  },
}
</script>
