<template>
  <v-dialog v-model="isOpen">
    <template #activator="{on}">
      <v-btn
        icon
        tile
        v-on="on"
      >
        <v-icon>mdi-content-save</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-toolbar
        color="orange darken-4"
        elevation="0"
        dark
      >
        <v-toolbar-title
          class="headline"
          primary-title
        >
          Sauvegarder
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field
          v-model="filename"
          @blur="validateFilename"
        />
        <v-radio-group
          v-model="selectedFormat"
          @change="validateFilename"
        >
          <v-radio
            v-for="format in availableFormats"
            :key="format"
            :value="format"
            :label="format"
          />
        </v-radio-group>
      </v-card-text>
      <v-card-actions>
        <ExportContainer
          v-slot:default="{link}"
          :format="selectedFormat"
        >
          <v-btn
            :href="link"
            :download="filename"
            outlined
            color="primary"
          >
            <v-icon left>
              mdi-content-save
            </v-icon>Sauvegarder
          </v-btn>
        </ExportContainer>
        <div class="flex-grow-1" />
        <v-btn
          outlined
          color="primary"
          @click="isOpen = false"
        >
          Fermer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ExportContainer from '@/components/settings/export-data/ExportContainer'

export default {
  components: {
    ExportContainer,
  },
  data () {
    return {
      isOpen: false,
      selectedFormat: 'json',
      availableFormats: ['json', 'csv'],
      filename: `export-budget-${new Date().toISOString()}.json`,
    }
  },
  methods: {
    validateFilename () {
      const index = this.filename.lastIndexOf('.')
      const basename =
        index === -1 ? this.filename : this.filename.substring(0, index)
      this.filename = `${basename}.${this.selectedFormat}`
    },
  },
}
</script>
