<template>
  <ImportContainer #default="{importOperations}">
    <ImportFileDialog @import="importOperations">
      <v-icon>mdi-folder-open</v-icon>
    </ImportFileDialog>
  </ImportContainer>
</template>

<script>
import ImportContainer from "@/components/settings/import-data/ImportContainer";
import ImportFileDialog from "@/components/settings/import-data/ImportFileDialog";

export default {
  components: {
    ImportContainer,
    ImportFileDialog,
  },
};
</script>
