<template>
  <v-dialog v-model="isOpen">
    <template #activator="{on}">
      <v-btn
        icon
        tile
        v-on="on"
      >
        <slot />
      </v-btn>
    </template>
    <v-card>
      <v-toolbar
        color="orange darken-4"
        elevation="0"
        dark
      >
        <v-toolbar-title
          class="headline"
          primary-title
        >
          Ouvrir
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-file-input
          v-model="file"
          label="Fichier"
          clearable
        />
      </v-card-text>
      <v-card-actions>
        <v-btn
          outlined
          color="primary"
          :disabled="file === undefined"
          @click="importFile"
        >
          <v-icon left>
            mdi-folder-open
          </v-icon>Ouvrir
        </v-btn>
        <div class="flex-grow-1" />
        <v-btn
          outlined
          color="primary"
          @click="isOpen = false"
        >
          Fermer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data () {
    return {
      isOpen: false,
      file: undefined,
    }
  },
  methods: {
    importFile() {
      this.$emit('import', this.file)
    },
  },
}
</script>
