<template>
  <v-app>
    <v-app-bar
      app
      color="orange darken-4"
      dark
    >
      <v-toolbar-title>Gestion des comptes</v-toolbar-title>
      <template v-slot:extension>
        <router-view name="tabs" />
        <div class="flex-grow-1" />
        <AddOperations />
        <ImportOperations />
        <ExportDialog />
      </template>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import ExportDialog from '@/components/settings/export-data/ExportDialog'
import ImportOperations from '@/components/settings/import-data/ImportOperations'
import AddOperations from '@/components/settings/import-data/AddOperations'

export default {
  components: {
    AddOperations,
    ExportDialog,
    ImportOperations,
  },
}
</script>
